<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Task Tracker</title>
  </head>
  <body class="invalid">
    <div class="invalid--container center-text">
      <h1 class="primary-heading mb-large">Invalid Email</h1>
      <div class="back">
        <p class="invalid-text">Your Email is incorrect</p>
        <a href="../sigin.html" class="btn-dash">&larr; Go Back</a>
      </div>
    </div>
  </body>
</html>
