$color-primary: #9fef00;
$color-primary-light: #b2f233;
$color-primary-dark: #7fbf00;

$color-red: #f00;
$color-cyan: cyan;

$color-light-grey: #a4b1cd;
$color-night-grey: #202837;
$color-dark-grey: #111927;
$color-white: #fff;
$color-black: #000;

// Navigation Hacker Theme

// rgba(0, 0, 0, 1) 0%,
// rgba(0, 100, 0, 0.8) 40%,   Dark Green
// rgba(0, 255, 0, 0.6) 70%,   Lime Green
// rgba(0, 0, 0, 0.8) 100%)

$color-dark-green: #006400;
$color-lime-green: #00ff00;
