$color-primary: #9fef00;
$color-primary-light: #b2f233;
$color-primary-dark: #7fbf00;

$color-red: #f00;
$color-cyan: cyan;

$color-light-grey: #a4b1cd;
$color-night-grey: #202837;
$color-dark-grey: #111927;
$color-white: #fff;
$color-black: #000;
