.admin {
  &-details {
    flex-basis: 80%;
    border-left: 1px solid $color-light-grey;
  }

  &-profile {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
